$unsplash: 'https://source.unsplash.com/random';

* {
    margin: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
    color: whitesmoke;
}

pre.syllogism {
    background-color: transparent;
}

pre.syllogism.hidden {
    animation-duration: 1s;
    animation-name: slideAndFade;
    opacity: 0;
}

.custom-container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    background: rgba(255, 0, 0, 0.3) url($unsplash) fixed center;
    background-size: cover;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    .custom-content {
        width: 320px;
        position: relative;
    }
    .custom-content:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url($unsplash) fixed center;
        filter: blur(4px);
        background-size: cover;
      }
}

.btn-area {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .btn {
        margin: 1em;
        flex-grow: 1;
    }

    .btn-light:hover {
        color: inherit;
        background-color: inherit;
        border-color: inherit;
    }

    .btn-light.active {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
}

button:focus, button:active {
    outline: none;
    box-shadow: none;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}
  
@keyframes slideAndFade {
    from {
        opacity: 1;
    }

    to {
        transform: translate(0px, -20px);
        opacity: 0;
    }
}