<div class="custom-container">
  <div class="custom-content">
    <h3 class="text-center py-3">{{ score }} / {{ goal }}</h3>
    <blockquote class="blockquote text-center">
      <pre class="syllogism py-3"
      [ngClass]="{
        hidden: !isSyllogismShown
      }"
      >{{ argument.minor }}<br>{{ argument.major }}<br>{{ argument.conclusion }}</pre>
    </blockquote>
    <div class="btn-area">
      <button #true class="btn btn-play btn-light btn-lg">True</button>
      <button #false class="btn btn-play btn-light btn-lg">False</button>
    </div>
  </div>
</div>
